<template>
  <img alt="Vue logo" src="./assets/logo.png">
  <h1>Start : 1.0.0, harusnya sekarang 1.0.1</h1>
  <HelloWorld :msg="`Test CI/CD with update Version ${appVersion}`"/>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'

export default {
  name: 'App',
  components: {
    HelloWorld
  },
  data(){
    return{
      appVersion: process.env.VUE_APP_VERSION,
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
